@define-color primary            #3a3a3a;
@define-color on_primary        #d1d1d1;
@define-color surface           #555555;
@define-color background        #2b2b2b;

* {
	font-family: JetBrains Mono;
	font-weight: 900;
	font-size: 16px;
	min-height: 0px;
}

window#waybar {
	background: @background;
	border-radius: 0;
	min-height: 0;
}

#custom-weather,
#language {
	background: @primary;
	color: @on_primary;
	margin: 5px;
	margin-right: 0;
	padding: 0px 5px;
	border-radius: 5px;
}

#pulseaudio {
	background: @primary;
	color: @on_primary;
	margin: 5px;
	margin-right: 0;
	padding: 0px 5px;
	border-radius: 5px;
}

#clock {
	background: @primary;
	color: @on_primary;
	margin: 5px;
	padding: 0px 5px;
	border-radius: 5px;
}

#custom-weather {
	background: @primary;
	color: @on_primary;
	margin: 5px;
	padding: 0px 5px;
	border-radius: 5px;
}

#custom-music {
	background: @primary;
	color: @on_primary;
	margin: 5px;
	padding: 0px 5px;
	border-radius: 5px;
}

#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	color: @on_primary;
}

#workspaces button:hover {
	color: @on_primary;
}

#workspaces button.active {
	color: @surface;
}

#workspaces {
	padding: 2 1;
	margin: 5;
	color: @on_primary;
	background-color: @primary;
	border: none;
	border-radius: 5;
}

#custom-files {
	background: @primary;
	color: @on_primary;
	margin: 5px 5px 5px 0;
	padding: 0px 5px 0px 0px;
	border-radius: 0 5px 5px 0;
}

#custom-alacritty {
	background: @primary;
	color: @on_primary;
	margin: 5px 0px 5px 0px;
	padding: 0px 15px 0px 7px;
	border-radius: 5 0px 0px 5;
}

#tray {
	padding: 2 5;
	margin: 5 0;
	background-color: @primary;
	border: none;
	border-radius: 5;
}

#window {
	padding: 0 7;
	margin: 5px;
	color: @on_primary;
	background-color: @primary;
	border-radius: 5;
}
